#content{
	height:2000px;
}
/*===============================================================================
								LIGHTBOX STYLE
===============================================================================*/
#lightbox-outer {
	position: fixed; 
	top: 50%;
	left:50%;
	width:800px;
	height:500px;
	display:block;
	z-index:20;
}
#lightbox-inner {
	position: relative;
	top:-50%;
	left:-50%;
	width:800px;
	height:500px;
	background-color:#262626;
	background: url("images/bg.jpg") repeat;
	background-position: -150px -150px;
	border-radius:10px;
	border: 5px solid #cccccc;
	box-shadow: 0 0 50px #262626;
	z-index: 30;
}
#lightbox-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #262626;
	filter: alpha(opacity=90);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 10;
}
#close {
	display:block;
	float:right;
	height:50px;
	width:50px;
	margin-top:-25px;
	margin-right:-25px;
	z-index:40;
}
#close:hover {
	cursor:pointer;
}
#close img{
	height:50px;
	width:50px;
}
/*===============================================================================
								CAROUSEL STYLE
===============================================================================*/
#carousel {
	display:block;
	padding:25px;
	margin-left:45px;
}
#carousel .thumbnail {
	display:inline-block;
	float:left;
	width: 14%;
	padding:6px;
	border-radius: 3px;
}
#carousel .thumbnail:hover{
   -moz-box-shadow:    inset 0 0 5px #ffffff;
   -webkit-box-shadow: inset 0 0 5px #ffffff;
   box-shadow:         inset 0 0 5px #ffffff;
   cursor:pointer;
}
#carousel .thumbnail img {
	width:100%;
	height:auto;
	border-radius:2px;
}
#carousel .thumbnail img:hover {
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.separator {
	display:block;
	clear:both;
	width:80%;
	height: 1px;
	background-color: #cccccc;
	margin: 5px auto;
}
.padTop1 {
	display:block;
	clear:both;
	height:20px;
}
/*===============================================================================
								EXCERPT STYLE
===============================================================================*/
#excerpt {
	display:block;
	clear:both;
	padding:0 25px;
}
#excerpt p {
	font-family: Candara;
	font-size: 18px;
	color: #cccccc;
}
#excerpt div {
	height:200px;
	width:200px;
	margin: auto;
	margin-top:50px;
	border-radius:5px;
	overflow:hidden;
}	
#excerpt img{
	height:0px;
	width:0px;
	
	
}
/*===============================================================================
								FOOTER STYLE
===============================================================================*/
#footer {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 5%;
    height: 100px;
    width: 250px;
}
#kerouac {
	display: block;
	clear: both;
	float: right;
    color: #cccccc;
    font-family: Aquifer;
    font-size: 25px;
	margin-right:15%;
}
#on-the-road{
	display:block;
	clear:both;
	float:right;
	color: #cccccc;
	font-family: Press;
	font-size: 50px;
	margin-right:15%;
}
/*===============================================================================
								FONTS
===============================================================================*/
@font-face{
	font-family: "Aquifer";
	src: url("fonts/Aquifer/Aquifer.ttf");
}
@font-face{
	font-family: "Press";
	src: url("fonts/Press/Press Style.ttf");
}